services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      - 'POSTGRES_DB=reign_db'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=reign_user'
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: